name: Snyk Scan

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Snyk
        run: npm install -g snyk
      - name: Snyk scan
        run: snyk auth ce1d4d14-9e9b-4caa-91dc-b904b253891e
      - name: npm installation
        run: npm install --package-lock-only
      - name: Snyk testing 
        run: snyk test && npm install --package-lock-only
      - name: node module updations
        run: npm install
        env:
          SNYK_TOKEN: ${{ secrets.ce1d4d14-9e9b-4caa-91dc-b904b253891e }}